<div class="row">
	<div class="large-9 columns">
<h1>Editing idea</h1>

<%= render 'form' %>

<%= link_to 'Show', @idea %> |
<%= link_to 'Back', ideas_path %>
	</div>
  <div class="large-3 columns">
		
  </div>
</div>