<div class="row">
	<div class="large-9 columns">
		<h1>Editing board</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @board %> |
		<%= link_to 'Back', boards_path %>
	</div>
  <div class="large-3 columns">
  </div>
</div>