<% provide(:title, "Create a New Board") %>
<div class="row">
	<div class="large-9 columns">
		<h1>New board</h1>

		<%= render 'form' %>

		<%= link_to 'Back', boards_path %>
	</div>
  <div class="large-3 columns">
		
  </div>
</div>