<hr>
<footer class="row">
	  <div class="small-2 large-2 columns">
		  <small>
		    <a href="http://utmsoft.com/">forged under the mountain</a>
		  </small>
	  </div>
		<div class="small-4 large-8 columns"></div>
	  <div class="small-6 large-2 columns">
	    <ul>
	      <li><%= link_to "About",   '#' %></li>
	      <li><%= link_to "Contact", '#' %></li>
	    </ul>
	  </div>
</footer>